body {
    background-color: black;
    margin: 0;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 170%;
}

img {
    height: 100%;
    margin: 0;
}

.nav-control {
    height: 30px;
    width: 90%;
    margin: 30px auto 10px auto;
    display: flex;
}

.control-button {
    height: 100%;
}

.logo {
    height: 100%;
    margin: auto;
}

.sortbar {
    margin: 20px auto 0 auto;
    width: 70%;
    max-width: 500px;
}

#sortselect {
    background-color: black;
    color: white;
    border: solid white 1px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 999px;
}

.main {
    margin: 20px auto 0 auto;
    max-width: 500px;
}

.post {
    margin-top: 50px;
}

.post_user {
    display: flex;
    font-size: 1.5rem;
    color: white;
    margin: 1%;
    height: 30px;
}

.post_user_icon {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.post_user_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.post_user_name {
    margin-left: 10px;
}

.post_user a {
    color: aliceblue;
    text-decoration: none;
}

.post_photo {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.post_photo img {
    margin-top: 10px;
    width: 100%;
    object-fit: contain;
}

.post_captions {
    line-height: 0px;
}

input {
    border: none;
    outline: none;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 220px;
    box-sizing: border-box;
    padding: 0;
    margin: 25px 0 0 10px;
    font-size: 20px;
}

button {
    border: 2px solid white;
    outline: none;
    height: 30px;
    border-radius: 22px;
    width: 100px;
    box-sizing: border-box;
    padding: 0;
    margin: 25px auto 0 auto;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    position: relative;
    bottom: 14px;
}

button:hover {
    background-color: white;
    color: black;
}

.postblocklabel {
    display: inline-block;
    width: 150px;
}

.postform {
    text-align: center;
}

.uploadphoto,
.photoupload {
    margin-left: auto;
    margin-right: auto;
}

.photoupload {
    width: 80px;
}

#preview {
    max-width: 300px;
    max-height: 300px;
    margin-top: 10px;
}

#uploaded-image {
    display: block;
    margin-top: 10px;
}

#preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#image-upload {
    display: none;
}

.custom-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.custom-upload-button:hover {
    background-color: #0056b3;
}

form#upload-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
